* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, .25);
    color: #000;
}

.contenedor {
    margin: auto;
    width: 50%;
    background-color:#eee;
    height:94vh;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}

.contenedor {
    margin: auto;
    width: 50%;
    background-color:#eee;
    height:94vh;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}