.bg-gris{
    background-color: #eee;
}
#txt {
    resize: none;
}
#bandera-idioma {
    height: 40px;
}
#form {
    margin-top: -120px;
}
@media (max-width: 767.9px) {
    #btn-itercambiar-idiomas {
        margin-top: 30px !important; 
    }
    #labelTgt {
        margin-top: 5px !important;
    }
  }